/* B1: reset lai css cho cac the html */

/* lớp giả root: biến toàn cục global */
:root{
    --primary-color: #FC5A32;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}